/* Hides content that only exists within a thinner aspect ratio */
.smallOnly {
    display: none;
}

/* sets up the area for the booking form */
#bookingContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 252, 248);
    border: 2px solid rgb(183, 181, 177);
    margin: 1rem 3% 1rem 7%;
    border-radius: 20px 20px 20px 20px;
}

#bookingBox {
    display: flex;
    flex-direction: row;
}

/* sets up the section containing relevant information */
#leftSide {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 3%;
    border-right: none;
}

#leftSide h1 {
    font-size: 3rem;
    margin: 0.2rem auto 2rem auto;
}

#leftSide img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto 0 auto;
}

#requirements {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#requirements p {
    font-size: 1.1rem;
    margin: 0.5rem 0 0.5rem 0;
}

/* sets up the form */
form {
    width: 60%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    border-left: none;
    padding-right: 0.5rem;
    margin: 2rem 2rem 1rem 0;
}

#personInfo,
#catInfo {
    margin: 0 auto 0 auto;
}

#personInfo div,
#catInfo div {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 0;
    font-size: 0.75rem;
}

/* sets up the inputs within the form */
input {
    font-size: 1.5rem;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border-radius: 3px;
    width: 100%;
    border: 2px solid rgb(147, 147, 147);
}

input::placeholder {
    font-size: 1rem;
    font-family: "Comic Relief", "system-ui";
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    appearance: textfield;
}

#catInfo {
    margin-top: 3rem;
}

#catInfo #duration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#duration input {
    font-size: 1rem;
    padding: 0.4rem 0.2rem 0.4rem 0.2rem;
    margin: 0;
}

textarea {
    margin: 2rem auto 1rem auto;
    resize: none;
}

#complete {
    margin: 0 0 0 1rem;
}

button {
    font-family: "dynapuff", sans-serif;
    font-size: 2rem;
    border-radius: 50px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 252, 248);
}

/* changes the prior values to fit within a thinner aspect ratio */
@media only screen and (max-width: 800px) {
    .smallOnly {
        display: block;
    }
    .largeOnly {
        display: none;
    }
    #miniHeader {
        width: 90%;
        margin: auto;
    }
    #miniHeader h1 {
        text-align: center;
    }
    #bookingContainer {
        width: 90%;
        margin: 1rem auto 1rem auto;
    }
    #bookingBox {
        flex-direction: column-reverse;
    }
    #bookingBox * {
        margin: 0 auto 0 auto;
    }
    #leftSide {
        width: 80%;
    }
    #requirements {
        flex-direction: row;
        width: 100%;
    }
    #requirements * {
        margin: auto;
    }
    form {
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
        width: 90%;
        padding: 0;
    }
    input {
        margin: auto;
        border-radius: 50px;
        width: 80%;
    }
    #catInfo #duration {
        width: 80%;
        margin: 0.5rem auto 0 auto;
    }
    #description {
        width: 90%;
        border-radius: 50px;
        margin: 1rem auto 1rem auto;
    }
    footer {
        width: 50%;
    }
}