@import url("https://use.typekit.net/tep2lad.css");

body {
    margin: 0;
    background-image: url(./images/catPattern.png);
    background-size: 200px;
    font-family: "dynapuff", sans-serif;
    font-weight: 100;
    overflow-x: hidden;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

#hamBtn {
    float: right;
    display: flex;
    flex-direction: column;
}

#hamBtn:hover {
    cursor: pointer;
}

.hamIcon {
    margin: 2px auto 2px auto;
    transition: transform 0.5s ease-in-out;
    width: 10vw;
    max-width: 100px;
    min-width: 50px;
}

.navContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

nav.open .navContent {
    display: flex;
    flex-direction: column;
}

.link0{
    transition: transform 0.5s ease-in-out 0s;
}

.link1{
    transition: transform 0.5s ease-in-out 0.2s;
}

.link2{
    transition: transform 0.5s ease-in-out 0.4s;
}

.link3{
    transition: transform 0.5s ease-in-out 0.6s;
}

.navText {
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 80px;
    background-color: rgb(255, 252, 248);
    border : 1px rgb(0, 0, 0) solid;
    color: black;
    text-decoration: none;
    padding: 6px;
    margin-top: 5px;
    transform: translate(-125px);
}

nav.open .navText {
    transform: translate(0px);
}

.navText:hover {
    background-color: rgb(255, 230, 221);
    color: black;
}

.navText#active {
    background-color: rgb(219, 231, 231);
    border : 1px rgb(0, 0, 0) solid;
    color : black;
}
.navText#active:hover {
    background-color: rgb(255, 230, 221);
    color: black;
}

footer {
    width: 100%;
    display: flex;
    background-color: rgb(255, 252, 248);
    border-top: 2px solid rgb(183, 181, 177);
}

footer img {
    --footerLogo:10rem;
    width: var(--footerLogo);
    height: var(--footerLogo);
    margin: 0;
}

#links {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    font-size: 1.3rem;
}