/* Sets the background and base font for the website*/
body {
    margin: 0;
    background-image: url(./images/catPattern.png);
    background-size: 200px;
    font-family: "dynapuff", system-ui;
    font-weight: 600;
    overflow-x: hidden;
}

/* Sets the base paragraph font */
p {
    font-family:"Comic Relief", system-ui;
    font-weight: 400;
}

/* Puts the navigation in the top left */
nav {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

#hamBtn {
    display: flex;
    flex-direction: column;
}

#hamBtn:hover {
    cursor: pointer;
}

/* Adds animation and sets boundaries for the menu icon */
.hamIcon {
    margin: 2px auto 2px auto;
    transition: transform 0.5s ease-in-out;
    width: 5vw;
    height: 0.6vw;
    max-width: 100px;
    max-height: 12px;
    min-width: 40px;
    min-height: 5px;
}

.navContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

nav.open .navContent {
    display: flex;
    flex-direction: column;
}

/* Adds animation for each link */
.link0{
    transition: transform 0.5s ease-in-out 0s;
}

.link1{
    transition: transform 0.5s ease-in-out 0.2s;
}

.link2{
    transition: transform 0.5s ease-in-out 0.4s;
}

.link3{
    transition: transform 0.5s ease-in-out 0.6s;
}

/* Sets what each link should look like */
.navText {
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 80px;
    background-color: rgb(255, 252, 248);
    border : 1px rgb(0, 0, 0) solid;
    color: black;
    text-decoration: none;
    padding: 6px;
    margin-top: 5px;
    transform: translate(-125px);
}

nav.open .navText {
    transform: translate(0px);
}

.navText:hover {
    background-color: rgb(255, 230, 221);
    color: black;
}

.navText#active {
    background-color: rgb(219, 231, 231);
    border : 1px rgb(0, 0, 0) solid;
    color : black;
}

.navText#active:hover {
    background-color: rgb(255, 230, 221);
    color: black;
}

/* sets up the footer section */
footer {
    width: 100%;
    display: flex;
    background-color: rgb(255, 252, 248);
    border-top: 2px solid rgb(183, 181, 177);
    margin: 0;
}

footer img {
    --footerLogo:10rem;
    width: var(--footerLogo);
    height: var(--footerLogo);
    margin: 0;
}

#links {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    font-size: 1.3rem;
}

/* Reformats the nav for smaller screen sizes */
@media only screen and (max-width:600px) {
    nav {
        margin-top: 10px;
    }
    .navText {
        font-size: 1rem;
    }
    footer {
        justify-content: center;
    }
}