:root {
    --altBack: rgb(197, 235, 235);
}

section h1 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
}

#banner {
    width: auto;
    height: 100vh;
    background-image: url("../images/sneakyCatCut.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
}

#banner img {
    width: 30%;
    margin: auto auto auto 70%;
}

#topInfo {
    background-image: linear-gradient(rgb(226,224,216), var(--altBack));
    padding: 7.5rem 0 7.5rem 0;
}

#aboutBox {
    width: 60%;
    height: 75vh;
    background-image:url(../images/catPaddockCut2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    border-radius: 10px;
    margin: 0 auto 0 auto;
}

#aboutBox header {
    width: 30rem;
    margin: 7vh 0 0 10vw;
    transform: translateX(15vw);
}

#aboutBox h1 {
    font-size: 5rem;
}

#aboutBox div {
    width: 50%;
    margin: 20vh 5vw 0 0;
}

#aboutBox p {
    text-align: end;
    font-size: 1.48rem;
    font-family: "dynapuff", sans-serif;
}

#services {
    display: inline-block;
    justify-content: space-evenly;
    height: 500px;
}

#services header {
    width: 100%;
    background-image: linear-gradient(var(--altBack), var(--altBack), var(--altBack), var(--altBack), white);
    height: 20vh;
    align-content: center;
    margin-bottom: -9vh;
    color:rgb(34, 78, 78);
}

#services header h1 {
    font-size: 4rem;
}

.service {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10vh 0px 10vh 0px;
}

.rightshift {
    display: flex;
    flex-direction: row-reverse;
}

.service img {
    width: 40%;
    height: auto;
    border-radius: 5px;
}

.serviceText {
    width: 40%;
    margin: auto 0 auto 0;
}

.serviceText h1 {
    font-size: 3rem;
}

.serviceText p {
    font-size: 2rem;
    font-weight: 100;
}

#contactBorder {
    margin: 2rem 0px 2rem 0px;
}

#contactBox {
    margin: 2rem auto 2rem auto;
    width: 50%;
    background-color: rgb(255, 252, 248);
    border: 2px solid rgb(183, 181, 177);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem 0px 1rem 0px;
}

.contacts {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto 0.5rem auto;
}

.contacts h3{
    margin: 0px 0px 0px 2%;
    font-size: 0.9rem;
    font-weight:normal;    
}

.contactInfo {
    background-color: rgb(255, 252, 248);
    text-align: center;
    padding: 0.2rem;
    border: 2px solid rgb(183, 181, 177);
    border-radius: 10px;
}