#aboutBox {
    background-image:url(../images/filler-Img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7.5rem auto auto auto;
}

#aboutBox header {
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#aboutBox div {
    width: 80%;
}

#services {
    margin-top: 5%;
}

#services img {
    width: 50%;
}