

#banner {
    margin: 0;
}

#aboutBox {
    width: 90%;
    background-image:url(../images/filler-Img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7.5rem auto auto auto;
}

#aboutBox header {
    font-size: 2rem;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto 60% auto 10%;
}

#aboutBox div {
    width: 30%;
    margin: auto auto auto 10%;
}

#aboutBox p {
    font-size: 1.5rem;
}

#serviceBox {
    margin-top: 5%;
    display: flex;
}

#serviceBox img {
    width: 45%;
    box-sizing: content-box;
    margin: auto;
}

#subServBox {
    width: 45%;
    margin: auto;
}

#subServBox h1 {
    text-align: center;
    margin-top: 0;
}

#services {
    margin: auto;
    overflow-y: scroll;
    height: 400px;
    width: 100%;
}

.service {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10vh 0px 10vh 0px;
}

.rightshift {
    display: flex;
    flex-direction: row-reverse;
}

.service p {
    width: 100%;
    font-size: 1.5rem;
}