* {
    box-sizing: border-box;
}

/* sets up the box for the image gallery */
#container {
    position: relative;
    width: 80%;
    margin: 0 auto 0 auto;
}

/* sets up to give a nice effect for when the image size ratio doesn't match the gallery size ratio */
.blur {
    display: flex;
    width: 100%;
    backdrop-filter: blur(20px);
    justify-content: center;
}

/* sets up the images so that they display properly */
.mySlides {
    display: none;
}

.mySlides img {
    height: 80vh;
}

/* sets up the number in top middle */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

/* gives the slides images to display */
#slide1 {
    background-image: url(../images/barn.jpeg);
    backdrop-filter: blur(1rem);
}

#slide2 {
    background-image: url(../images/cat.jpeg);
    backdrop-filter: blur(1rem);
}

#slide3 {
    background-image: url(../images/scaredyCat.jpeg);
    backdrop-filter: blur(1.5rem);
}

#slide4 {
    background-image: url(../images/catTower.jpeg);
    backdrop-filter: blur(1rem);
}

#slide5 {
    background-image: url(../images/catCuddle.jpg);
    backdrop-filter: blur(1rem);
}

/* sets up cursor based hover effects */
.cursor {
    cursor: pointer;
}

/* sets up the navigation buttons */
#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* sets up the text section below the images */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

/* sets up the preview images */
.row {
    display: flex;
    justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.demo {
    opacity: 0.6;
    height: 200px;
    width: auto;
}

.active,
.demo:hover {
    opacity: 1;
}

/* changes the prior values to fit within a thinner aspect ratio */
@media only screen and (max-width: 1000px) {
    #container {
        width: 100%;
    }
    .mySlides {
        flex-direction: column;
        height: 60vh;
    }
    .blur {
        height: 100%;
        justify-content: center;
    }
    .blur img {
        width: 100%;
        height: auto;
        margin: auto 0 auto 0;
    }
    .row img {
        height: 100%;
    }
    footer {
        position: fixed;
        bottom: 0;
    }
    .mySlides .tall {
        height: 60vh;
        width: auto;
    }
}